.header {
 
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  position: fixed;
  z-index: 10;
  width: 100%;
}

.logo {
  color: white;
  font-size: 2.5rem;
  font-weight: 300;
  width: 200px;
  height: 50px;
  /* background: url(../../img/Logo_protiv_black_font.png); */
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-list li {
  margin: 0 1rem;
  position: relative; /* Potrzebne do animacji linii */
}

.nav-list a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  position: relative; /* Potrzebne do animacji linii */
  padding: 0.5rem 0; /* Dodaj padding, aby linia miała miejsce */
  display: block; /* Rozciągnij link na cały obszar */
}

/* Animacja linii pod elementem menu (duże ekrany) */
.nav-list a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #f4cceb;
  transition: width 0.7s ease;
}

.nav-list a:hover::after {
  width: 100%; /* Rozwijanie linii */
}

/* Przycisk hamburgera */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  position: relative;
  z-index: 20; /* Upewnij się, że hamburger jest na wierzchu */
}

.menu-toggle span {
  height: 3px;
  width: 25px;
  background-color: white;
  margin: 3px 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.contact-now{
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
}

.contactButton{
background-color: transparent;
color: #f4cceb;
width: 90%;
height: 80%;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
border-radius: 50px;
transition: .3s;
border: 2px solid #f4cceb;
}

.contactButton:hover{
background-color: #f4cceb;
  color: #19162A;
  transition: .3s;

}
#kont{
  display: none;
}

/* Stylowanie dla mniejszych ekranów */
@media (max-width: 855px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0;
  }

  .contact-now{
    display: none;
  }

  #kont{
    display: block;
  }

  .logo {
    width: 100%;
    text-align: center;
    background-size: 30%;
    margin-left: 0;
  }

  .menu-toggle {
    display: flex;
    position: absolute;
    top: 33%; /* Dostosuj do wysokości headera */
    right: 1rem; /* Umieszczamy po prawej stronie */
  }

  .nav-list {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #000000c1;
    position: absolute;
    top: 80px; /* Dostosuj do wysokości headera */
    left: 0;
    opacity: 0;
    transform: translateY(-20px);
    z-index: 10; /* Upewnij się, że menu jest na wierzchu */
  }

  .nav-list.active {
    display: flex;
  }

  .nav-list li {
    padding: 0; /* Usuwamy padding z <li> */
    width: 100%;
    text-align: center;
  }

  /* Rozciągamy link na cały obszar <li> */
  .nav-list a {
    padding: 20px; /* Dodaj padding do linku */
    display: block; /* Rozciągnij link na cały obszar */
  }

  /* Zmiana tła po najechaniu na element menu (małe ekrany) */
  .nav-list li:hover {
    background-color: black;
    transition: background-color 0.3s ease;
  }

  .nav-list a:hover {
    color: #f4cceb;
  }
}
