body{
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
    
}

.container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-first{
    width: 100%;
    height: 40%;
    font-size: 30px;
}

.see-more{
    
}
