body {
  background-color: white;
  margin: 0;
  padding: 0;
  color: white;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/public/fonts/SpaceGrotesk/SpaceGrotesk-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

/* ---------------MAIN--------------- */

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.content-first {
  position: relative;
  background: url("../../img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  font-size: 45px;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1D2955;
}


.content-first::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.758);
  z-index: 1;
}

.content-first * {
  position: relative;
  z-index: 2;
}

.content-texts{
  width: 100%;
  height: 100%;
}

.content-text1{
width: 50%;
height: 50%;
font-size: 70px;
color: white;
display: flex;
flex-direction: column;
top: 30%;
text-align: left;
left: 5%;
}

.content-text2{
  width: 50%;
  height: 50%;
  font-size: 20px;
  text-align: left;
  left: 5%;
  top: 15%;
}

.quotation {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 20px;
  top: 10%;
}

.quotationButton {
  background-color: transparent;
  color: #f4cceb;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s;
  border: 2px solid #f4cceb;

}

.quotationButton:hover {
  background-color: #f4cceb;
  color: #19162A;
  transition: 0.3s;
}

p {
  margin: 10px;
}

.see-more {
  width: auto;
  height: 35px;
  border: 1.5px solid white;
  font-size: 19px;
  font-weight: 400;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 40px;
}

.see-more:hover {
  color: rgb(143, 229, 255);
  transition: 0.5s;
  border: 1.5px solid rgb(143, 229, 255);
  background-color: black;
}

.social-media {
  height: 200px;
  width: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid lightgray;
  background-color: rgba(211, 211, 211, 0.249);
  border-radius: 50px;
  position: fixed;
  right: 20px;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.social-media-icon {
  height: 30px;
  width: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.social-media-icon:hover {
  transform: scale(120%);
  transition: 0.3s;
  color: #f4cceb;
}

.social-media-on-phone {
  display: none;
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 40px;
  height: 40px;
  border: 2px solid lightgray;
  background-color: rgba(211, 211, 211, 0.249);
  border-radius: 50px;
  overflow: hidden;
  transition: height 0.3s ease;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

.social-media-on-phone.open {
  height: 250px;
}

.social-media-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.info-icon {
  margin-bottom: 10px;
}

#ty{
  color: #f4cceb;
}

/* ---------------TECHNOLOGIE--------------- */



.technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  padding: 50px 0;
  background: black;
}

.technologies.expanded {
  justify-content: center;
}

.tech-card {
  width: 20%;
  height: 200px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 8px;
  transition: width 0.5s ease;
  display: flex;
  align-items: center;
  background: black;
  color: black;
  justify-content: center;
}

.tech-card.expanded {
  width: 30%;
  background: #000;
  color: white;
}

.tech-front {
  flex: 0 0 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.technology-logo {
  height: 100%;
  width: 100%;

}

.tech-back {
  padding: 20px;
  text-align: left;
  flex: 1;
}

@media (max-width: 1000px) {
  .technologies {
    flex-direction: column;
    align-items: center;
  }

  .tech-card,
  .tech-card.expanded {
    width: 90%;
  }

  .technology-logo {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 640px) {
  .content-text1{
    font-size: 50px;
  }

  .content-text2{
    top: 10%;
  }

  .content-first{
    background-position: 30% center;
  }

}

@media (max-width: 480px) {
  .content-text1{
    font-size: 40px;
  }

  .content-text2{
    top: 4%;
  }

  .content-first{
    background-position: 34% center;
  }
}

@media (max-width: 768px) {
  .social-media {
    display: none;
  }
  .social-media-on-phone {
    display: flex;
  }
}


::-webkit-scrollbar {
  width: 10px; 
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #070a15;   
}


::-webkit-scrollbar-thumb {
  background: #f4cceb; 
  border-radius: 10px; 
  cursor: pointer;

}

::-webkit-scrollbar-thumb:hover {
  background: #c4afbf;

}